.image-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-modal-content {
  width: 550px;
  background-color: #fff;
}

.image-modal-header, .image-modal-footer {
  padding: 15px;
  text-align: center;
}

.image-modal-body {
  padding: 10px;
  /* border-top: 1px solid lightgray; */
  /* border-bottom-width: 1px solid lightgray; */
  text-align: center;
  cursor: pointer;
}

.image-button {
  cursor: pointer;
  padding: 5px 15px;
  background-color: royalblue;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

#displayedModalImage {
  max-width: 500px;
}




.modal-image {
  height: 45px;
}