button {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */

  }


.expanded-image-modal{
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

}

.expanded-image-overlay{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6 , 1fr);
    margin: auto;
    padding: 20px;
    width: 90%;
    height: 90%;


}
.expanded-image-close-modal{
    grid-column: 12;
}
.expanded-image-left-arrow{
    grid-row: 3;
    grid-column: 1;
}

.expanded-image-right-arrow{

     grid-row: 3;
    grid-column: 12;

}


.expanded-image-container{
background-color: hotpink;
grid-column: 2/12;
grid-row: 1/6;
}
.expanded-image_image{


    width: 100%;
    object-fit: cover;
    height: 100%;
}

.expanded-image-icon-container{
    grid-column: 2/12;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;


}
/* .expanded-image-icon{
    color: #062138;
    margin: 0 4px 50px 4px;


}
.expanded-image-icon-active{
    color: #cb3c08;
    margin: 0 4px 50px 4px;

} */

.expanded-image-icon-button {
    background:transparent;
    border:none;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px 50px 4px;
  }

  .dot-active{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #cb3c08;
    display: inline-block;
    margin: 0 4px 50px 4px;
}