/*
ProductDetailContainer

*/

.product-detail-container{
display:flex;
flex-direction: column;
width: 1280px;
margin: auto;
/* justify-content: right; */
align-items:center;

}



/*
searchBar

*/
.globalHeader {
padding: 10px 24px;
 height:60px ;
 width:100%;
 background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.searchBarContainer {
display: flex;
flex-direction: row;
}
.mockSearchIcon{
    color:white;

}
.mockSearchBar {
    width:100px;
    border-bottom: 1px solid white;
    margin-right: 10px;
}


/*
Description and features

*/
.product-description_features-container{
    margin: 60px 0;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
}

h3{
    margin-bottom: 8px;
    font-size: 18px;
}

p {
    font-size: 16px;
}

.features{
 margin-left:24px;
}
.feature-list{
    padding-left: 8px;
    width:200px;
}
.features-map{
    border-left: 2px solid black;
    padding-left:24px;
}
.feature-lockup{
display:flex;
padding-left: 10px;
margin-bottom:8px;
}

.product-description_features{
text-decoration: none;
margin-right: 24px;
}



/*
Product Information

*/

.product-info-container{
    display:flex;
    flex-direction: column;


}
.ratings{
margin-bottom: 8px;
}
.product-category{
 text-transform: uppercase;
}

.expanded-product-name{
 margin-bottom:8px;

}
