/*
ProductDetailContainer

*/

.product-detail-container{
display:flex;
flex-direction: column;
width: 1280px;
margin: auto;
/* justify-content: right; */
align-items:center;

}



/*
searchBar

*/
.globalHeader {
padding: 10px 24px;
 height:60px ;
 width:100%;
 background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.searchBarContainer {
display: flex;
flex-direction: row;
}
.mockSearchIcon{
    color:white;

}
.mockSearchBar {
    width:100px;
    border-bottom: 1px solid white;
    margin-right: 10px;
}


/*
Description and features

*/
.product-description_features-container{
    margin: 60px 0;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
}

h3{
    margin-bottom: 8px;
    font-size: 18px;
}

p {
    font-size: 16px;
}

.features{
 margin-left:24px;
}
.feature-list{
    padding-left: 8px;
    width:200px;
}
.features-map{
    border-left: 2px solid black;
    padding-left:24px;
}
.feature-lockup{
display:flex;
padding-left: 10px;
margin-bottom:8px;
}

.product-description_features{
text-decoration: none;
margin-right: 24px;
}



/*
Product Information

*/

.product-info-container{
    padding-top: 32px;
    display:flex;
    flex-direction: column;
    /* width:30%; */
    flex-wrap:wrap;
    justify-content: space-evenly;
    /* grid-area: 1/4/6/6; */
    grid-column: 9/13;
    grid-row: 1/8;


}
.ratings{
margin-bottom: 8px;
}
.product-category{
 text-transform: uppercase;
}

.expanded-product-name{
 margin-bottom:8px;

}



/*
Style Selector

*/


.style-selector{

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 320px;

}


.style-thumbnail{
    border-radius: 50%;

    width: 64px;
    height: 64px;
    object-fit:cover;
    margin-right: 16px;
    margin-bottom: 16px;
    /* display: none; */
}

.style-header{
    margin-top:32px;
    font-weight: bold;
}
.style-thumbnail-container{
    position: relative;

}
.check-circle{
    position: absolute;
    visibility: hidden;
    color: rgb(3, 192, 97);
    left: 52px;


}
.active-style{
    visibility: visible;



}
.style-name{
    padding-left: 4px;
    font-weight:normal;


}

/*
Size and Quantity selector

*/

.size-quantity-container{
display:flex;
flex-direction: row;
/* width:300px; */

}

 .quantity-selector , .size-selector{
margin-right:10px;
padding-left:8px;
padding-right:8px;
width: 240px;
height: 55px;
display:flex;
flex-direction: row;
justify-content: flex-start;

}
.addToCart-container{

    display: flex;
  justify-content: flex-start;
  visibility: visible;

}

.add-to-cart{
    width:265px;
    height:55px;
    /* align-self: flex-end; */
    padding-right: 20px;

}
.add-to-cart-star{
    margin-left: 10px;
    width:55px;


}
.size-selector , .size-default {
    text-transform: uppercase;
    font-size: 16px;
    font-weight:700px;


}



.quantity-selector{

 height:55px;
 width: 80px;

}

.quantity-selector , .quantity-options{
font-weight:700px;
 font-size: 16px;

}

.imgGalleryContainer {


    /* background-color: black; */
    grid-column: 1/9;
    grid-row: 1/8;
}

.imgGalleryContainer-active {

    grid-column: 1/13;
    grid-row: 1/8;
    z-index: 3;

  }
/* .imgGallery {

} */

.gallery-info-container{
    width: 1280px;
    height: 548px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    grid-template-rows: repeat(7, 1fr);
    row-gap: 24px;
}

.mock-banner{
    margin:18px 0;
}

.invalid-cart-message{
    align-self: flex-start;
    color:red;
}
/* IMAGES */
.default-view-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-thumbnails{
    grid-column: 1/2;
    grid-row: 1/8;
    z-index: 4;
    width: 100%;
    display: grid;
    justify-content: flex-start;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 24px 0 24px 24px;
    overflow:scroll;
}


.icon-buttons-container{
    grid-column: 2/9;
    grid-row: 4/5;
    z-index: 5;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}

.icon-buttons{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  border: none;
}



.thumbnails{
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    scroll-behavior: smooth;
    object-fit: cover;

}

.chevron-container{
    grid-column: 1/2;
    grid-row: 1/8;
    /* z-index: 6; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:24px;
    margin-left: 20px;
}

.chevron{
    width: 24px;
    height:24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: white;
}