#ratingOverviews {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}

#ratingOverviewNumber {
  font-size: 50px;
  font-weight: 900;
}

#starDiv {
  margin-top: 9px;
  margin-left: 15px;
}

.ratingOverviewStars {
  font-size: 16px;
  margin-left: 2px;
  margin-top: 2px;
}

#ratingBreakdown {
  font-weight: bolder;
}

#ratingBreakdown, #percentRecommended {
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

#percentReviews {
  font-weight: bold;
}

#starFilterRemove {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#activeFilters {
  font-weight: bold;
}

#eachStarFilter {
  margin-bottom: 25px;
}

.starFilters {
  font-weight: lighter;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  padding: 0px 5px;
  border-radius: 5px;
}

#removeFilters {
  cursor: pointer;
  border-radius: 15px;
  background-color: lightgray;
  padding: 0px 5px;
}

#starBarChart {
  width: 90%;
  max-height: 350px;
  /* border: 1px solid black; */
  margin: auto;
  margin-bottom: 38px;
}

.starRatings, .starBar {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.starRatings {
  margin-bottom: 11px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.starBar {
  width: 75%;
  max-height: 13px;
  background-color: lightgray;
  margin-top: 5px;
  border-radius: 10px;
}

.starBar5, .starBar4, .starBar3, .starBar2, .starBar1 {
  /* width: 50%; */
  border-radius: 10px;
  background-color: darkgreen;
}

#arrowCharts {
  width: 90%;
  margin: auto;

}

#sizeChart {
  /* border: 1px solid black; */
  /* margin-top: 50px; */
  height: 70px;
  margin-bottom: 15px;
}

.plot {
  display: flex;
  justify-content: space-between;
}

.plotBar {
  width: 33%;
  height: 10px;
  background-color: lightgray;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.plotBar2 {
  width: 33%;
  color: darkgreen;
}

#sizeChars {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

#widthChart {
  /* border: 1px solid black; */
  height: 70px;
  margin-bottom: 15px;
}

#widthChars {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

#comfortChart {
  /* border: 1px solid black; */
  height: 70px;
  margin-bottom: 15px;
}

#comfortChars {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

#qualityChart {
  /* border: 1px solid black; */
  height: 70px;
  margin-bottom: 15px;
}

#qualityChars {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

#fitChart {
  /* border: 1px solid black; */
  height: 70px;
  margin-bottom: 15px;
}

#fitChars {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

#lengthChart {
  /* border: 1px solid black; */
  height: 70px;
  margin-bottom: 15px;
}

#lengthChars {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}