#reviewCountHeading {
  margin-bottom: 35px;
  margin-top: 18px;
  margin-left: 5%;
  font-weight: bold;
  font-size: large;
}

#dropdown {
  font-weight: bold;
  font-size: large;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
}

#dropdownDark {
  color: #e5e5e5;
  font-weight: bold;
  font-size: large;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  background-color: #0C252F;
  cursor: pointer;
}

#reviewOverviewBox {
  margin: auto;
  width: 90%;
  /* height: 70%; */
  max-height: 700px;
  /* border: 1px solid black; */
  overflow-y: auto;
}

.individualReviewBox {
  border-bottom: 1px solid gray;
  margin-bottom: 35px;
}

#starsUsernameDate {
  display: flex;
  justify-content: space-between;
}

#usernameDate {
  font-weight: lighter;
}

#summaryHelpfulAndReport {
  margin-top: 0px;
}

#summaryTitle {
  font-weight: bolder;
  font-size: large;
}

.tileBody {
  margin-bottom: 15px;
}

#showMoreButton {
  font-weight: lighter;
  cursor: pointer;
  /* margin-top: 10px; */
  width: 100px;
  color: darkslategray;
  margin-left: 15px;
}

#trueRecommend {
  font-style: italic;
}

#responseContainer {
  background-color: #EBEBEB;
  padding: 20px 15px;
}

#trueResponse1 {
  font-weight: bold;
  margin-bottom: 10px;
}

#smallImage {
  height: 65px;
  width: auto;
  margin-left: 20px;
  cursor: pointer;
}

/* #modalImage {
  position: static;
} */

#helpfulAndReport {
  font-weight: lighter;
  margin-bottom: 17px;
}

.yes, .report {
  text-decoration: underline;
  cursor: pointer;
}

.yes {
  margin-left: 15px;
}

#break {
  border-left: 1px solid gray;
  margin-left: 15px;
  margin-right: 15px;
}

.reviewButtons {
  margin-left: 5%;
  margin-top: 30px;
  padding-bottom: 30px;
}

#moreReviewsButton {
  padding: 15px 10px;
  margin-right: 16px;
  cursor: pointer;
}

#addReviewButton {
  padding: 15px 10px;
  cursor: pointer;
}