#reviewCountHeading {
  margin-bottom: 35px;
  margin-top: 6px;
  margin-left: 5%;
  font-weight: bold;
  font-size: large;
}

#dropdown {
  font-weight: bold;
  font-size: large;
  border: none;
  border-bottom: 2px solid black;
  cursor: pointer;
}

#reviewOverviewBox {
  margin: auto;
  width: 90%;
  height: 70%;
}

.individualReviewBox {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

#starsUsernameDate {
  display: flex;
  justify-content: space-between;
}

#usernameDate {
  font-weight: lighter;
}

#summaryHelpfulAndReport {
  margin-top: 0px;
}

#summaryTitle {
  font-weight: bolder;
}

.tileBody {
  margin-bottom: 20px;
}

#images {
  width: 50px;
}

#helpfulAndReport {
  font-weight: lighter;
  margin-bottom: 17px;
}

.yes, .report {
  text-decoration: underline;
  cursor: pointer;
}

.yes {
  margin-left: 15px;
}

#break {
  border-left: 1px solid gray;
  margin-left: 15px;
  margin-right: 15px;
}

.reviewButtons {
  margin-top: 90px;
  padding-bottom: 30px;
}

#moreReviewsButton {
  padding: 15px 10px;
  margin-right: 8px;
  cursor: pointer;
  margin-left: 5%;
}

#addReviewButton {
  padding: 15px 10px;
  cursor: pointer;
  margin-left: 8px;
}