#RnRtitle {
  padding-top: 50px;
  margin-bottom: 12px;
}

#box {
  display: flex;
}

/* h4, #box {
  width: 65%;
  margin: auto;
} */

#ratingsComp, #reviewsComp {
  height: 800px;
}

#ratingsComp {
  /* border: 1px solid black; */
  width: 35%;
}

#reviewsComp {
  /* border: 1px solid black; */
  width: 65%;
}