
.related-products-frame {
  display: grid;
  height: 375px;
  border:  1px solid rgb(126, 123, 123);
  grid-template-columns: 4% 92% 4%;
  /* flex-wrap: wrap; */
  /* grid-template-rows: 35% 30% 35%; */
  grid-template-rows: 36% 28% 36%;
  margin: 15px 50px;
}

.left-arrow {
  /* grid-area: 2/1/2/1; */
  grid-area: 2/1/3/2;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.right-arrow {
  /* grid-area: 2/3/2/3; start row col end row col*/
  grid-area: 2/3/3/4;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card {
grid-area: 1/1/4/4;
background-color:#F0F8FF;
/* opacity: 0.8; */
display: flex;
flex-direction: row;
margin: 5px;
padding: 01rem;
/* justify-content: flex-end; */
justify-content: space-between;
}

.card-itself {
  border:  1px solid black;
  height: 250px;
  width: 175px;
  padding: 5px;
  display: flex;

}

.default-image {
  max-width: 100%;
  max-height: 100%;
  display: flex;

}
.related-category {
  display: flex-start;
  font-size: small;
}

.related-name {
  display: flex-end;
  font-size: small;
}
.related-price {
  display: flex-end;
  font-size: small;
}
.related-rating {
  display: flex-end;
  font-size: small;
}
