
.related-products-frame {
  display: grid;
  height: 375px;
  /* border:  1px solid rgb(223, 30, 30); */
  grid-template-columns: 4% 92% 4%;
  /* flex-wrap: wrap; */
  grid-template-rows: 35% 30% 35%;
  /* margin: 15px 50px; */
  width: 65%;
  margin: auto;
  margin-bottom: 10px;
}

.spaceForQnA {
  margin-bottom: 50px;
}

#relatedProds {
  margin: auto;
  width: 65%;
  margin-bottom: 10px;
}

.left-arrow {
  /* grid-area: 2/1/2/1; */
  grid-area: 2/1/3/2;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.right-arrow {
  /* grid-area: 2/3/2/3; start row col end row col*/
  grid-area: 2/3/3/4;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card {
grid-area: 1/1/4/4;
background-color:#F0F8FF;
/* opacity: 0.8; */
display: flex;
flex-direction: row;
margin: 5px;
padding: 01rem;
/* justify-content: flex-end; */
justify-content: space-between;
}

.card-itself {
  border:  1px solid black;
  height: 250px;
  width: 175px;
  padding: 5px;
}

.default-image {
  max-width: 100%;
  max-height: 100%;
}

